* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
}
.main {
  display: flex;
  height: 100vh;
  width: 100%;
  background-image: url(pics/background.png);
  background-size: auto;
  align-items: center;
  justify-content: center;
}
body::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(10px);
  z-index: 1;
}
#right {
  position: absolute;
  width: 1200px;
  z-index: 10;
  bottom: -135px;
  rotate: -28deg;
  right: -361px;
  animation: float 3s ease-in-out infinite;
}
#left {
  width: 1000px;
  position: absolute;
  z-index: 10;
  bottom: -75px;
  left: -295px;
  rotate: 17deg;
  animation: float 3s ease-in-out infinite;
}
#line1 {
  position: absolute;
  top: 200px;
  background: #222222a2;
  width: 2000px;
  height: 20px;
  z-index: 5;
  left: -250px;
  rotate: 25deg;
  box-shadow: 0 0 120px 5px black;
}
#line2 {
  position: absolute;
  top: 400px;
  background: #222222a2;
  width: 2000px;
  height: 20px;
  z-index: 5;
  rotate: 25deg;
  box-shadow: 0 0 120px 5px black;
  left: -250px;
}
#line3 {
  position: absolute;
  top: 600px;
  background: #222222a2;
  width: 2000px;
  height: 20px;
  z-index: 5;
  rotate: 25deg;
  box-shadow: 0 0 120px 5px black;
  left: -250px;
}
#line4 {
  position: absolute;
  top: 800px;
  background: #222222a2;
  width: 2000px;
  height: 20px;
  z-index: 5;
  rotate: 25deg;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 120px 5px black;
  left: -250px;
}
.middle {
  display: grid;

  align-items: center;
  justify-items: center;
}
.tangiro {
  position: absolute;
  width: 480px; /* حجم الشخصية */
  left: 690px;
  transform: translateX(-50%);
  bottom: 180px; /* تحديد ارتفاع الشخصية فوق الصخرة */
  z-index: 12;
  transition: transform 0.3s ease;

  animation: float 3s ease-in-out infinite;
}
.fly {
  right: 730px;
  position: absolute;
  width: 550px;
  bottom: -85px;
  z-index: 11;
  transform: 1s;
  animation: float 3s ease-in-out infinite;
}
.tangiro:hover {
  transform: scale(1.2);
}
.nointeract {
  pointer-events: none; /* يمنع أي تفاعل مع الصورة */
  -webkit-user-drag: none; /* يمنع السحب في كروم وسفاري */
  user-select: none; /* يمنع تحديد الصورة مثل النص */
}
.noact {
  user-select: none; /* يمنع تحديد الشخصية مثل النص */
  pointer-events: all; /* يتيح التفاعل مع الشخصية (انقر، hover) */
}
@keyframes float {
  0% {
    transform: translateY(0); /* بداية التحريك */
  }
  50% {
    transform: translateY(-10px); /* التحرك لأعلى */
  }
  100% {
    transform: translateY(0); /* العودة للأسفل */
  }
}
